<div class="container"> 
  <h3>
    <span>
      <% if @question.blank? %>
        😶
      <% else %>
        <%= @question %>
      <% end %>
    </span>
  </h3>
  <p></p>
  
  <div class="card-category">
    <span><%= @answer %></span>
  </div>
  <p></p>
  <div class="btn btn-success">
    <%= link_to "Ask a new question", ask_path %>
  </div>  
</div>