<div class="container"> 
  <h3>
    <span>
      <% if @question.blank? %>
        😶
      <% else %>
         - <%= @question %>
      <% end %>
    </span>
  </h3>
  <p></p>
  
  <div class="card-category">
  
  <span id="answer-typed-text"></span>

  </div>
  <p>
    <div class="button btn btn-success">
      <%= link_to "Ask a new question", ask_path %>
    </div>
  </p>    
</div>