<div class="container"> 
  <h1>Stupid Coaching</h1>

  <div class="card-category">
    <span>
      <% if @question.blank? %>
        😶
      <% else %>
        <%= @question %>
      <% end %>
    </span>    
  </div>
  <p></p>
  <div class="card-category">
    <span><%= @answer %></span>
  </div>
  <p></p>
  <div class="btn btn-primary">
    <%= link_to "Ask a new question", ask_path %>
  </div>  
</div>