<div class="container"> 
  <h1>Stupid Coaching</h1>
  <p></p>
  <div class="card-category">
    <span id="banner-typed-text"></span> 
  </div>  
  <div class="form">
    <form action="/answer">
      <div class="input-group">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask" class="btn btn-success">
      </div>
    </form>
  </div>  
</div>
      


