<h1>Stupid Coaching</h1>

<div class="container">  
  <div class="card-category">
    <span id="banner-typed-text"></span> 
  </div>
</div>
      
<div class="form">
  <form action="/answer" class="form-inline">
  <div class="input-group">
    <input type="text" name="question" class="form-control">
      <span class="input-group-btn">
        <input type="submit" value="Ask" class="btn btn-primary">
      </span>
  </div>
  </form>
</div>

